@charset "UTF-8";

.logo{
    text-align: center;
}

.logo img{
    height: 40px;
    padding: 35px;
}

.mainimg{
    text-align: center;
}

.mainimg img{
    border-radius: 8px;
    width: 95%;
}

.navi{
    text-align: center;    
}

.navi ul{
    list-style-type: none;
    width: 95%;
    padding: 0;
    font-size: 18px;
    margin: 35px auto;
}

.navi ul li{
    padding: 0 6px 10px 6px;
    width: 100px;
    margin: 0 auto;
}

.navi ul li a{
    color: black;
    text-decoration: none;
}

.navi ul li:hover{
    border-bottom: 3px solid chocolate;
}

.navi ul li a:hover{
    color: chocolate;
    text-decoration:chocolate ;
}

.rule2 p,.rule3 p{
    margin-left: 6px;
    line-height: 20px;
}

@media (min-width:600px){
    .navi ul{
        display: flex;
        justify-content: center;
    }
    .navi ul li{
        margin: 0;
    }
    .rule2 p{
        line-height: 30px;
    }
}

.date{
    font-weight: bold;
}

.news{
    background-color: chocolate;
    padding: 1px;
    color: white;
    border-radius: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

.container{
    display: flex;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.container div{
    margin-left: 16px;
    line-height: 30px;
}

.footer{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    padding-top: 6px;
}

@media (max-width:600px){
    .news,
    .container,
    .rule,
    .rule2,
    .rule3,
    .space,
    .table{
        font-size: 12px;
    }
    .footer{
        font-size: 10px;
        line-height: 8px;
    }

}

.news2{
    margin-top: 16px;
}

.rule{
    padding: 1px;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding-left: 16px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

.rule2{
    line-height: 30px;;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

.rule2 a,
.table2 a{
    color: black;
}

.rule2 a:hover,
.table2 a:hover{
    color: chocolate;
}

.rule3{
    color: chocolate;
    font-weight: bold;
}

/****************About*******************/

.logo-a img{
    padding-bottom: 0;
}

.table{
    width: 95%;
    height: 380px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

@media (max-width:600px){
    .table{
    height: 250px;
}
}

.table th{
    text-align: left;background-color: lightgray;
    padding-left: 12px;
}

.td1{
    width: 30%;
    text-align: center;
    font-weight: bold;
}

.td2{
    width: 70%;
    padding-left: 12px;
}

.space{
    padding-left: 16px;
    padding-bottom: 20px ;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    line-height: 30px;
}

.space p{
    margin-bottom: 0;
    margin-top: 0;
}

.gray{
    background-color: lightgray;
    padding: 5px;
    border-radius: 8px;
}

.choco{
    color: chocolate;
}

/****************Gallery***********************/

.img{
    width: 20%;
    height: auto;
}

.explain p{
    margin: 0;
}

.explain p:first-child{
    color: chocolate;
}

@media (max-width:600px){
    .explain p{
        line-height: 18px;
}
}

.c2{
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

/***************Link********************/

.table2{
    height: 580px;
}

@media (max-width:600px){
    .table2{
        height: 350px;
    }
}

